.mm_nav {
  padding-top: 5px;
  padding-bottom: 15px;
  text-align: center;
  margin-top: 10px;
  background-color: #fff;
}
.mm_nav li {
  float: left;
  width: 25%;
  height: 70px;
  margin-top: 20px;
}
.mm_nav li a {
  display: block;
}
.mm_nav li a img {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
.mm_nav li a p {
  font-size: 12px;
  margin-top: 5px;
  color: #000;
}
.mm_content {
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #fff;
}
.mm_content .more {
  padding: 0 10px;
  padding-top: 10px;
}
.mm_content .more a {
  width: 100%;
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #fbfbfb;
  border: 1px solid #ccc;
  border-radius: 5px;
}
