body {
  background-color: #fff;
}
.mm_main {
  width: 280px;
  margin: 10px auto;
}
.mm_main a {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
}
.mm_main a img {
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 5px;
}
.mm_main a span {
  float: right;
}
